{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %} {# TODO change title #}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello world! 🗺</h1>
    {% if env == 'prod' %}
        <div>
            App frontend is still under development, this is not a final version.<br>
            Backend is finished and API is available at <a href="/api/threads">/api/...</a><br>
            API documentation: <a href="https://documenter.getpostman.com/view/2542393/TVRg6V1E">Postman documentation</a><br>
            More info and source code on <a href="https://github.com/mindaugasw/forum-app">GitHub</a><br>
            <img src="./caution.png"/>
        </div>
    {% endif %}
    
    <div id="sample-div"></div>
</div>
{% endblock %}
