@import "~bootstrap";

// --- Colors ---
:root {
    --color-upvote: #fd7e14;
    --color-downvote: #9056fb;
    --color-vote: #717171;
}
.color-upvote {
    color: var(--color-upvote);
}
.color-downvote {
    color: var(--color-downvote);
}
.color-vote {
    color: var(--color-vote);
}

.lh-1 {
    line-height: 1em;
}


.thread-list-container {
    padding: 0;
}

@include media-breakpoint-down(md) {
    .thread-list-container {
        margin: 0 -15px;
        width: auto;
    }
}

.avatar-image-small {
    height: 25px;
}

// Notifications parent. Random classes as there's no other way to select it?
.alert-0-2-18 { // Make notifications smaller
    padding: 0.4em 0.5em 0em 0.5em;
}
.container-0-2-1 { // Show notifications below navbar and don't hide it
    margin-top: 2em;
}
