@import "~bootstrap";

// --- Colors ---
:root {
    --color-upvote: #fd7e14;
    //--color-downvote: #9056fb; // violet
    --color-downvote: #439eff; // close to bs-primary blue
    --color-vote: #717171;
}
.color-upvote {
    color: var(--color-upvote);
}
.color-downvote {
    color: var(--color-downvote);
}
.color-vote {
    color: var(--color-vote);
}

.lh-1 {
    line-height: 1em;
}

label.required:after {
    content: "*";
    color: red;
}

/*.thread-list-container {
    padding: 0;
}*/

.full-width-container-md-down {
    padding: 0;
}

// Applies on md and smaller
@include media-breakpoint-down(md) {
    /*.thread-list-container { // TODO remove
        margin: 0 -15px;
        width: auto;
    }*/

    // Negative x-margins so that container would edge-to-edge on smaller sizes
    .full-width-container-md-down {
        margin: 0 -15px;
        width: auto;
    }

    // 0px x-margins on md and smaller. Results in a 15px x-margins inside on smaller sizes
    // when inside .full-width-container-md-down
    .mx-0-md-down {
        margin-left: 0px;
        margin-right: 0px;
    }

    .mx-15-md-down {
        margin-left: 15px;
        margin-right: 15px;
    }
}

// md and bigger
@include media-breakpoint-up(md) {
    .last-pagination-item-md-up a {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }
}

// lg and bigger
@include media-breakpoint-up(lg) {
    .mx-0-md-down {

    }
}

.avatar-image-small {
    height: 25px;
    width: 25px;
}

// Notifications container styling (on random classes as there's no other way to select it?)
.alert-0-2-18 { // Make notifications smaller
    padding: 0.4em 0.5em 0em 0.5em;
}
.container-0-2-1 { // Show notifications below navbar and don't hide it
    margin-top: 2em;
}
